{% extends 'base.html' %}

{% block body %}
<section class="presentation">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi id, ut odit reprehenderit rerum rem debitis nam alias earum provident iste sunt officiis fugiat perspiciatis error nobis iusto! Recusandae, praesentium?</p>
</section>

<main class="daily-recap">

    <section class="date">
        <h2>Date of the day :</h2>
        
    </section>
    
    <section class='meteo'>
        <section class="weather">
            <h2>Weather :</h2>
            
        </section>
        <section class="windforce"> 
    </section>

    <section class="registered">
        <h2>Number of registered :</h2>
        
    </section>

    <section class="casual">
        <h2>Number of casual :</h2>
       
    </section>

    <section class="count">
        <h2>Total count :</h2>
        
    </section>


</main>

{% endblock %}