{% extends 'base.html' %}

{% block body %}
<section class="presentation">
    <p>Cette page permet d'obtenir une prediction en direct de l'utilisation du reseau de velos en libre service VLille en fonction des donnees meteorologiques ! </p>
</section>

<main class="daily-recap">

    <section class='meteo-now'>
        <div class="date">
            <h3>Date du jour:</h3>
            <p>{{ data[0]['dt'] }}</p>
        </div>
        <div class="weather">
            <h3>Conditions météorologiques :</h3>
                <p>
                    {{ data[0]['description'] }}
                <!-- {% for i in range(4) %}
                    {% if data[0]['weather_' + (i+1)|string] != 0 %}
                        {{ data[0]['weather_' + (i+1)|string] }}
                    {% endif %}
                {% endfor %} -->
                </p>
        </div>
        <div class="temperature">
            <h3>Temperature :</h3>
            <p>{{ data[0]['temp'] }} °C</p>
        </div>
        <div class="atemperature">
            <h3>Temperature ressentie :</h3>
            <p>{{ data[0]['atemp'] }} °C</p>
        </div>
        <div class="windforce">
            <h3>Force du vent :</h3>
            <p>{{ data[0]['windspeed'] }} km/h</p>
        </div>
        <div class="humidity">
            <h3>Humidite :</h3>
            <p>{{ data[0]['humidity'] }} %</p>
        </div>

        <div class="registered">
            <h3>Utilisateurs enregistres :</h3>
            <p>{{ pred['registered'][0]|int }}</p>
        </div>

        <div class="casual">
            <h3>Utilisateur occasionnel :</h3>
            <p>{{ pred['casual'][0]|int }}</p>
        </div>

        <div class="count">
            <h3>Total des usagers :</h3>
            <p>{{ pred['count'][0]|int }}</p>
        </div>
        
    </section>

    <section class="meteo-48h">
        <div>
            <canvas id="myChart1" style="width:100%;max-width:1000px;height:400px"></canvas>
        </div>
        <script>
            var xValues = [];
            {% for dict in data %}
                xValues.push({{ dict['hours'] }});
            {% endfor %}

            var yValues = {{ pred['registered'] }};
            var color = ["red"];
            
            new Chart("myChart1", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                    label: "Predicted number of registered",
                    backgroundColor: color,
                    data: yValues
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            font: {
                                    size: 36
                            },
                            display: true,
                            text: 'Predicted number of registered as a function of time'
                        }
                    },
                    scales: {
                        y: {
                            title: {
                                font: {
                                    size: 22
                                },
                                display: true,
                                text: 'Predicted number of registered'
                            }
                        },
                        x: {
                            title: {
                                font: {
                                    size: 22
                                },
                                display: true,
                                text: 'Time (hour)'
                            }
                        }
                    }
                }
            });
        </script>

    <section class="meteo-48h">
        <div>
            <canvas id="myChart2" style="width:100%;max-width:1000px;height:400px"></canvas>
        </div>
        <script>
            var xValues = [];
            {% for dict in data %}
                xValues.push({{ dict['hours'] }});
            {% endfor %}

            var yValues = {{ pred['casual'] }};
            var color = ["blue"];
            
            new Chart("myChart2", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                    label: "Predicted number of casual",
                    backgroundColor: color,
                    data: yValues,
                    color: '#fcedd8'
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            font: {
                                    size: 36
                            },
                            display: true,
                            text: 'Predicted number of casual as a function of time'
                        }
                    },
                    scales: {
                        y: {
                            title: {
                                font: {
                                    size: 22
                                },
                                display: true,
                                text: 'Predicted number of casual'
                            }
                        },
                        x: {
                            title: {
                                font: {
                                    size: 22
                                },
                                display: true,
                                text: 'Time : hour'
                            }
                        }
                    }
                }
            });
        </script>
    </section>

    <section class="meteo-48h">
        <div>
            <canvas id="myChart3" style="width:100%;max-width:1000px;height:400px"></canvas>
        </div>
        <script>
            var xValues = [];
            {% for dict in data %}
                xValues.push({{ dict['hours'] }});
            {% endfor %}

            var yValues = {{ pred['count'] }};
            var color = ["purple"];
            
            new Chart("myChart3", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                    label: "Predicted number of count",
                    backgroundColor: color,
                    data: yValues
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            font: {
                                    size: 36
                            },
                            display: true,
                            text: 'Predicted number of count as a function of time'
                        }
                    },
                    scales: {
                        y: {
                            title: {
                                font: {
                                    size: 22
                                },
                                display: true,
                                text: 'Predicted number of count'
                            }
                        },
                        x: {
                            title: {
                                font: {
                                    size: 22
                                },
                                display: true,
                                text: 'Time : hour'
                            }
                        }
                    }
                }
            });
        </script>
    </section>

</main>

{% endblock %}