{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}
<div class='card'>
    <h1>Nouvelle Prediction</h1>
    <form method="POST" class="form-register">
        {{ form.hidden_tag() }}

        {{ form.date.label }}
        {{ form.date(size=32, class="form-control") }}
        <br>

        {{ form.hour.label }}
        {{ form.hour(size=1, class="form-control-select") }}
        <br>
        <div>
            {{ form.weather.label }}<br>
            {{ form.weather(size=1, class="form-control-select") }}
        </div>

        {{ form.holiday.label }}
        {{ form.holiday(size=1, class="form-control-select") }}
        <br>

        {{ form.workingday.label }}
        {{ form.workingday(size=1, class="form-control-select") }}
        <br>

        {{ form.temperature.label }}
        {{ form.temperature(size=32, class="form-control") }}
        {% for error in form.temperature.errors %}
        <p class="error" >{{ error }}</p>
        {% endfor%}
        <br>

        {{ form.humidity.label }}
        {{ form.humidity(value="%", size=10, class="form-control", min='0', max='100') }}
        {% for error in form.humidity.errors %}
            <p class="error" >{{ error }}</p>
        {% endfor%}
        <br>

        {{ form.windspeed.label }}
        {{ form.windspeed(size=32, class="form-control") }}
        {% for error in form.windspeed.errors %}
            <p class="error" >{{ error }}</p>
        {% endfor%}
        <br>

        {{ form.submit(class="buttonsubmit",id="button-add") }}
    </form>
</div>
{% endblock %}